* {
    overflow-y: hidden;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    background-color: black;
}

a {
    display: flex;
    justify-content: center;
    color: white;
    position: relative;
    text-decoration: none;
    margin-top: 20px;
    font-size: 50px;
    font-family: arial;
    font-weight: bold;
    padding: 25px 30px;
    letter-spacing: 4px;
    transition: .5s all;
    overflow: hidden;
}

a:hover {
    background-color: white;
    color: #050801;
}

a span {
    position: absolute;
}

a span:nth-child(1) {
    margin-top: 5px;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, white);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

a span:nth-child(2) {
    top: -100;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, white);
    animation: animate2 1s linear infinite;
    animation-delay: .50s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    100% {
        top: 100%;
    }
}

a span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, white);
    animation: animate3 1s linear infinite;
    animation-delay: .1s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

a span:nth-child(4) {
    bottom: -100;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, white);
    animation: animate4 1s linear infinite;
    animation-delay: 0.60s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}

@media(min-width: 768px) and (max-width: 1388px)
{

    #global
    
    {
    
                width :100% ;
    
                padding :0px ;
    
    }

    #contenu

    {
    
                width :80% ;
    
    }
    
    @media(max-width: 767px)

    { 
    
     
    
        #global
        
        {
        
                    width :100% ;
        
                    padding :0px ;
        
        }
        
        #contenu

        {
        
                    width :100% ;
        
        }    

        #canvas {
            width: 375px;
            height: 667px;
        }
    }  

}